<!DOCTYPE>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>添加商品</title>
    <link rel="stylesheet" href="./css/chat.min.css" />
    <link rel="icon" href="../imgs/favicon.ico" type="image/x-icon">
    <link media="all" href="./css/release_product.css" type="text/css" rel="stylesheet">
    <link media="all" href="./css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <a href="/welcome">主页</a>
        <a href="/chat">聊天室</a>
        <a href="/history">历史订单</a>
        <a href="#myProduct">我的商品</a>
        <a href="/profile">个人页面</a>
    </div>
    <div class="container">
        <div class="main center">
            <div class="wave-fluid"></div>
            <div class="release-title">发布商品出售</div>
            <form action="publish" id="publish-form" method="post">
                <div class="form-wr">
                    <input type="hidden" name="id" value="${goods.id}">
                    <input id="photo" type="hidden" name="photo" value="${goods.photo}" class="required" tips="请上传图片">
                    <div id="show-img" class="form-item l goods-title" style="height:100px;">
                        <div class="form-key">
                            <span>基金图片</span>
                        </div>
                        <div class="form-value">
                            <div class="form-input-wr">
                                <img id="uploaded-img" src="/photo/view?filename=${goods.photo}" width="100px"
                                     height="100px">
                            </div>
                        </div>
                    </div>
                    <div class="form-item l goods-title">
                        <div class="form-key">
                            <span>选择商品图片</span></div>
                        <div class="form-value">
                            <div class="form-input-wr">
                                <input type="file" id="uploadFile"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-item l goods-title">
                        <div class="form-key">
                            <span>商品名称</span></div>
                        <div class="form-value">
                            <div class="form-input-wr">
                                <input id="name" name="name" placeholder="最多18个字" maxlength="18" value="${goods.name}"
                                       type="text" class="required" tips="请填写基金名称"></div>
                        </div>
                    </div>

                    <div class="form-item xl goods-desc">
                        <div class="form-key">
                            <span>商品详细信息</span></div>
                        <div class="form-value">
                            <div class="form-input-wr">
                                <textarea name="content" id="desc" placeholder="填写至少15个字" class="required"
                                          tips="请填写详情描述">${goods.content}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-item l goods-price">
                        <div class="form-key">
                            <span>起购价</span>
                        </div>
                        <div class="form-value">
                            <div class="form-input-wr">
                                <input class="price required" id="price" name="price" value="${goods.price}"
                                       type="number" tips="请填写基金起购价">
                            </div>
                        </div>
                    </div>
                    <div class="form-item l goods-title">
                        <div class="form-key">
                            <span>选择产品</span>
                        </div>
                        <div class="form-value">
<!--                            <input type="hidden" id="ptype" name="ptype" >-->
                            <select id="addProductId" name="addProductId" class="form-input-wr" >
                                <option value="">---请选择产品---</option>
                                <option value="toy">玩具</option>
                                <option value="cloths">服装</option>
                                <option value="electronic">电子产品</option>
<!--                                <option th:each="a:${wxProduct}" th:value="${a.id}" th:text="${a.productName}"></option>-->
                            </select>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary button_submit">确定</button>
                    <a href="/chat">
                        <button type="button" class="btn btn-primary button_submit">取消</button>
                    </a>

                </div>
            </form>
        </div>
    </div>

    <script>
        $("#addProductId").change(function(){

        })

    </script>

</body>
</html>

