<!DOCTYPE>
<html>
<head>
    <title>添加商品</title>
    <link rel="stylesheet" href="./css/chat.min.css" />
    <link rel="icon" href="../imgs/favicon.ico" type="image/x-icon">
    <link media="all" href="./css/release_product.css" type="text/css" rel="stylesheet">
    <link media="all" href="./css/index.css" type="text/css" rel="stylesheet">
    <script src="./js/jquery-1.12.3.min.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <style>
        h1{
        text-align: center;
        }
    </style>
    <script type="text/javascript">
        function uploadAvatar(){
            //1 创建文件读取对象
            var reader=new FileReader();

            //文件存储在file表单元素的files属性中，它是一个数组
            //没有返回值，但是读取完毕后，将读取结果存储在对象的result中
            var fil=document.getElementById("file1").files;
            reader.readAsDataURL(fil[0]);

            //当读取成功后触发
            reader.onload=function(){
                document.getElementById("img1").src=reader.result;
            };
        }

    </script>
</head>

<body>
    <div class="topnav">
        <a href="/welcome">主页</a>
        <a href="/chat">聊天室</a>
        <a href="/history">历史订单</a>
        <a href="#myProduct">我的商品</a>
        <a href="/profile">个人页面</a>
    </div>
    <div class="container">
        <div class="main center">
            <div class="wave-fluid"></div>
            <h1>添加新商品</h1>
            <form action="/upload" id="publish-form" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                <div class="form-wr">
                    <input id="form_uid" type="hidden" name="uid" value="">
                    <input id="photo" type="hidden" name="photo" class="required" tips="请上传图片">
                    <div id="show-img" class="form-item l goods-title" style="height:100px;">
                        <div class="form-key">
                            <span>商品图片</span>
                        </div>
                        <div class="form-value">
                            <div class="form-input-wr">
                                <img id="img1" src="/test/default.png" style="height:100px;width:100px;border-radius:50px">
                            </div>
                        </div>
                    </div>
                    <div class="form-item l goods-title">
                        <div class="form-key">
                            <span>选择商品图片</span></div>
                        <div class="form-value">
                            <div class="form-input-wr">
                                <input id="file1" type="file" name="spicture" onchange="uploadAvatar()"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-item l goods-title">
                        <div class="form-key">
                            <span>商品名称</span></div>
                        <div class="form-value">
                            <div class="form-input-wr">
                                <input id="name" name="name" placeholder="最多20个字" maxlength="20"
                                       type="text" class="required" tips="请填写商品名称"></div>
                        </div>
                    </div>

                    <div class="form-item xl goods-desc">
                        <div class="form-key">
                            <span>商品详细信息</span></div>
                        <div class="form-value">
                            <div class="form-input-wr">
                                <textarea name="content" id="desc" placeholder="请填写商品的详细信息" class="required"
                                          tips="请填写详情描述"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-item l goods-price">
                        <div class="form-key">
                            <span>商品价格</span>
                        </div>
                        <div class="form-value">
                            <div class="form-input-wr">
                                <input class="price required" id="price" name="price"
                                       type="number" tips="请填写商品售价">
                            </div>
                        </div>
                    </div>

                    <div class="form-item l goods-price">
                        <div class="form-key">
                            <span>商品库存数量</span>
                        </div>
                        <div class="form-value">
                            <div class="form-input-wr">
                                <input class="price required" id="quantity" name="quantity"
                                       type="number" tips="请填写商品数量">
                            </div>
                        </div>
                    </div>
                    <center>
<!--                        <button id="sub" type="submit" class="btn btn-primary button_submit">确定</button>-->
                        <input class="btn btn-primary button_submit" type="button" id="sub" name="Submit" value="提交">
                        <a href="/chat">
                            <button type="button" class="btn btn-primary button_submit">取消</button>
                        </a>
                    </center>
                </div>
            </form>
        </div>



    </div>

    <script>
        // $("#sub").click(function () {
        //     $("#publish-form").ajaxSubmit(function (data) {
        //         alert(data);
        //     });
        //     $.get("/currentuser", function(data) {
        //         username = data.username;
        //         uid = data.uid;
        //     });
        //     $.ajaxSubmit
    var username;
    var uid;
    $(document).ready(function() {
      $.get("/currentuser", function(data) {
        username = data.username;
        uid = data.uid;
        if (uid != undefined){
            document.getElementById("form_uid").setAttribute("value", uid);
        }
        else{
            window.alert("please login");
            window.location.href="/";
        } 
      })
    });
    $("#sub").click(function () {
        $.get("/currentuser", function(data) {
        username = data.username;
        uid = data.uid;
        if (uid != undefined){
            document.getElementById("form_uid").setAttribute("value", uid);
            $("#publish-form").ajaxSubmit(function (data) {
                alert(data);
                window.location.href="/chat";
            });
        }
        else{
            window.alert("please login");
            window.location.href="/";
        } 
        })

    });
    </script>
</body>
</html>

