<!DOCTYPE>
<html>
<head>
<title>login</title>
<link rel="stylesheet" href="./css/bootstrap.min.css" />
<script src="./js/jquery-1.12.3.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<style type="text/css">
.vertical-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
</style>
</head>
<body>
	<div class="container vertical-center">
		<div class="col-md-6 col-md-offset-3">
			<form action="loginvalidate" method="post">      //将输入的内容（用户名和密码）通过action传到loginvalidate中去
				<h2>登录聊天室</h2>
				<label for="inputEmail" class="sr-only">userid</label> <input
					type="text" name="username" id="inputEmail" class="form-control"
					placeholder="userid" required autofocus /> <label
					for="inputPassword" class="sr-only">Password</label> <input
					type="password" name="password" id="inputPassword"
					class="form-control" placeholder="Password" required /> <label
					for="inputEmail" class="sr-only">userid</label>
				<button class="btn btn-lg btn-primary btn-block" type="submit">&nbsp;登&nbsp;&nbsp;陆&nbsp;</button>
			</form>

		</div>
	</div>
</body>
</html>
