<!DOCTYPE>
<html>
<head>
<title>历史订单</title>
<link rel="stylesheet" href="./css/newBootstrap.min.css" />
<!--<script src="./js/newBootstrap.js"/>-->
</head>
<body>
    <div class="topnav">
        <a href="/welcome">主页</a>
        <a href="/chat">聊天室</a>
        <a class="active" href="#history">历史订单</a>
        <a href="/profile">个人页面</a>
    </div>
    <div class="textDiv">
        <div class="head">
            <b>订单编号：</b>
            2021032610194432
        </div>
        <div class="context">
            <b>订单时间：</b>
            2021-03-26 10:11:23
        </div>
        <div class="price">
            <b>订单价格：</b>
            <b style="color: red;">152.00￥</b>
        </div>
        <div class="stat blue">
            待发货
        </div>
    </div>

    <div class="textDiv">
        <div class="head">
            <b>订单编号：</b>
            2021032610194433
        </div>
        <div class="context">
            <b>订单时间：</b>
            2021-03-27 15:56:01
        </div>
        <div class="price">
            <b>订单价格：</b>
            <b style="color: red;">751.00￥</b>
        </div>
        <div class="stat green">
            已发货
        </div>
    </div>

    <div class="textDiv">
        <div class="head">
            <b>订单编号：</b>
            2021032610194434
        </div>
        <div class="context">
            <b>订单时间：</b>
            2021-03-28 15:22:45
        </div>
        <div class="price">
            <b>订单价格：</b>
            <b style="color: red;">75.00￥</b>
        </div>
        <div class="stat red">
            已退货
        </div>
    </div>
</body>

</html>