<!DOCTYPE>
<html>
<head>
    <title>历史订单</title>
    <link rel="stylesheet" href="./css/order_css.css" />
    <script src="./js/jquery-1.12.3.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</head>
<body>
    <div class="topnav">
        <a href="/chat">聊天室</a>
        <a class="active" href="#history">我的订单</a>
        <a href="/myProduct">我的商品</a>
        <!-- <a href="/profile">个人页面</a> -->
        <!-- <a href="/empChat/findAllUser">聊天记录</a> -->
    </div>

<!--    <div class="textDiv">-->
<!--        <div class="head">-->
<!--            <b>订单编号：</b>-->
<!--            2021032610194432-->
<!--        </div>-->
<!--        <div class="context">-->
<!--            <b>订单时间：</b>-->
<!--            2021-03-26 10:11:23-->
<!--        </div>-->
<!--        <div class="price">-->
<!--            <b>订单价格：</b>-->
<!--            <b style="color: red;">152.00￥</b>-->
<!--        </div>-->
<!--        <div class="stat blue">-->
<!--            待发货-->
<!--        </div>-->
<!--    </div>-->
    <div class="containerBtnTitle">
        <a id="myBtnBuy" class="myBtnSwitch">购买记录</a>
        <a id="myBtnSell" class="myBtnSwitch">售卖记录</a>
    </div>
    <div id="order-container">

<!--        <div class="textDiv" id="order2">-->
<!--            <img src="orderPicture/computer.jpg" alt="sorry, picture missing" width="300" height="200" style="float:left">-->
<!--            <div class="order_content_container">-->
<!--                <div class="order_number">-->
<!--                    <b>订单编号：</b>-->
<!--                    2021032610194432-->
<!--                </div>-->
<!--                <div class="order_time">-->
<!--                    <b>订单时间：</b>-->
<!--                    2021-03-26 10:11:23-->
<!--                </div>-->
<!--                <div class="order_context">-->
<!--                    <b>商品名称：</b>-->
<!--                    电脑-->
<!--                </div>-->
<!--                <div class="order_quantity">-->
<!--                    <b>购买数量：</b>-->
<!--                    2-->
<!--                </div>-->
<!--                <div class="order_price">-->
<!--                    <b>订单总价：</b>-->
<!--                    <b style="color: red;">200.00￥</b>-->
<!--                </div>-->
<!--                <div class="order_transport">-->
<!--                    <b>快递物流单号：</b>-->
<!--                    <b >123456</b>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="stat blue" id="order_stat2">-->
<!--                待发货-->
<!--            </div>-->
<!--            <div class="containerBtn">-->
<!--                <button id="myBtnReceive2" class="myBtnReceive">I receive</button>-->
<!--            </div>-->
<!--            <div class="containerBtn_received" id="myReceived2">-->
<!--                <b>已收货</b>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div id="sell-container">
        <div class="textDiv sell" id="order2">
            <img src="orderPicture/computer.jpg" alt="sorry, picture missing" width="300" height="200" style="float:left">
            <div class="order_content_container">
                <div class="order_number">
                    <b>订单编号：</b>
                    2021032610194432
                </div>
                <div class="order_time">
                    <b>订单时间：</b>
                    2021-03-26 10:11:23
                </div>
                <div class="order_context">
                    <b>商品名称：</b>
                    电脑
                </div>
                <div class="order_quantity">
                    <b>购买数量：</b>
                    2
                </div>
                <div class="order_price">
                    <b>订单总价：</b>
                    <b style="color: red;">200.00￥</b>
                </div>
                <div class="order_transport">
                    <b>快递物流单号：</b>
                    <b >123456</b>
                </div>
            </div>
            <div class="stat blue" id="order_stat2">
                待发货
            </div>
            <div class="containerBtn">
                <button id="myBtnReceive2" class="myBtnReceive">I receive</button>
            </div>
            <div class="containerBtn_received" id="myReceived2">
                <b>已收货</b>
            </div>
        </div>

        <div class="textDiv sell" id="order3">
            <img src="orderPicture/computer.jpg" alt="sorry, picture missing" width="300" height="200" style="float:left">
            <div class="order_content_container">
                <div class="order_number">
                    <b>订单编号：</b>
                    2021032610194432
                </div>
                <div class="order_time">
                    <b>订单时间：</b>
                    2021-03-26 10:11:23
                </div>
                <div class="order_context">
                    <b>商品名称：</b>
                    电脑
                </div>
                <div class="order_quantity">
                    <b>购买数量：</b>
                    2
                </div>
                <div class="order_price">
                    <b>订单总价：</b>
                    <b style="color: red;">200.00￥</b>
                </div>
                <div class="order_transport">
                    <b>快递物流单号：</b>
                    <b >123456</b>
                </div>
            </div>
            <div class="stat blue" id="order_stat3">
                待发货
            </div>
            <div class="containerBtn">
                <button id="myBtnReceive3" class="myBtnReceive">I receive</button>
            </div>
            <div class="containerBtn_received" id="myReceived3">
                <b>已收货</b>
            </div>
        </div>
    </div>

    <script>
    	var username;
		var uid;
		$(document).ready(function() {
			$.get("/currentuser", function(data) {
				username = data.username;
				uid = data.uid;
                if (uid == undefined){
                    window.alert("please login");
                    window.location.href="/";
                }
<!--                window.alert(uid);-->
                // 加载当前用户的购买记录
                $.post("/orderhistory?currentuserid=" + uid, function(data) {
                    for (var i = 0; i < data.length; i++) {
                        var order_id = 'order' + (i+1);
                        $("#order-container").append('<div class="textDiv buy" id="' + order_id + '"> </div>');
                        $("#"+order_id).append('<img src="/orderPicture/' + data[i].picture + '" alt="sorry, picture is missing" width="300" height="200" style="float:left">');
                        var order_content_container = '<div class="order_content_container">';
                        order_content_container += '<div class="order_number"><b>订单编号：</b>' + data[i].oid + '</div>';
                        order_content_container += '<div class="order_time"><b>订单时间：</b>' + data[i].Otime + '</div>';
                        order_content_container += '<div class="order_context"><b>商品名称：</b>' + data[i].product_name + '</div>';
                        order_content_container += '<div class="order_quantity"><b>购买数量：</b>' + data[i].Oquantity + '</div>';
                        order_content_container += '<div class="order_price"><b>订单总价：</b>' + data[i].total + '</div>';
                        order_content_container += '<div class="order_transport"><b>快递物流单号：</b>' + data[i].Lnumber + '</div>';
                        order_content_container += '</div>';
                        $("#"+order_id).append(order_content_container);
                        $("#"+order_id).append('<div class="stat blue" id="order_stat'+(i+1) + '"> 未收货</div>');
                        $("#"+order_id).append('<div class="containerBtn"><button id="' + 'myBtnReceive' + (i+1) + '"class="myBtnReceive" oid="' + data[i].oid + '">确认收货</button></div>');
                        $("#"+order_id).append('<div class="containerBtn_received buybtn" id="myReceived'+ (i+1) + '"><b>已收货</b></div>');
                        var btn_id = 'myBtnReceive' + (i+1);
                        var received_id = 'myReceived' + (i+1);
                        var stat_id = 'order_stat' + (i+1);
                        switch(data[i].Status){
                            case "unreceived":
                                document.getElementById(btn_id).addEventListener("click", function(e){
                                    var target = e.target;
                                    var index = target.id.slice(-1);
<!--                                    window.alert(target.getAttribute('oid'));-->
                                    document.getElementById('myBtnReceive' + index).className += " myBtnReceiveHidden";
                                    document.getElementById('myReceived' + index).style.visibility = "visible";
                                    document.getElementById('order_stat' + index).className = "stat green";
                                    document.getElementById('order_stat' + index).innerHTML = "已收货";
                                });
                                break;
                            case "received":
                                document.getElementById(btn_id).className += " myBtnReceiveHidden";
                                document.getElementById(received_id).style.visibility = "visible";
                                document.getElementById(stat_id).className = "stat green";
                                document.getElementById(stat_id).innerHTML = "已收货";
                                break;
                            case "unsent":
                                document.getElementById(btn_id).className += " myBtnReceiveHidden";
                                document.getElementById(received_id).style.visibility = "visible";
                                document.getElementById(received_id).getElementsByTagName('b')[0].innerHTML = "未发货";
                                document.getElementById(stat_id).className = "stat red";
                                document.getElementById(stat_id).innerHTML = "未发货";
                                break;
                        }

<!--                        window.alert(data[i]);-->
<!--                        window.alert(data[i].picture);-->
                    }
<!--                    window.alert(data.length);-->
                // 加载当前用户的售卖记录
                $.post("/orderhistory?currentuserid=" + uid, function(data) {
                    for (var i = 0; i < data.length; i++) {
                        var order_id = 'order' + (i+1);
                        $("#order-container").append('<div class="textDiv buy" id="' + order_id + '"> </div>');
                        $("#"+order_id).append('<img src="/orderPicture/' + data[i].picture + '" alt="sorry, picture is missing" width="300" height="200" style="float:left">');
                        var order_content_container = '<div class="order_content_container">';
                        order_content_container += '<div class="order_number"><b>订单编号：</b>' + data[i].oid + '</div>';
                        order_content_container += '<div class="order_time"><b>订单时间：</b>' + data[i].Otime + '</div>';
                        order_content_container += '<div class="order_context"><b>商品名称：</b>' + data[i].product_name + '</div>';
                        order_content_container += '<div class="order_quantity"><b>购买数量：</b>' + data[i].Oquantity + '</div>';
                        order_content_container += '<div class="order_price"><b>订单总价：</b>' + data[i].total + '</div>';
                        order_content_container += '<div class="order_transport"><b>快递物流单号：</b>' + data[i].Lnumber + '</div>';
                        order_content_container += '</div>';
                        $("#"+order_id).append(order_content_container);
                        $("#"+order_id).append('<div class="stat blue" id="order_stat'+(i+1) + '"> 未收货</div>');
                        $("#"+order_id).append('<div class="containerBtn"><button id="' + 'myBtnReceive' + (i+1) + '"class="myBtnReceive" oid="' + data[i].oid + '">确认收货</button></div>');
                        $("#"+order_id).append('<div class="containerBtn_received buybtn" id="myReceived'+ (i+1) + '"><b>已收货</b></div>');
                        var btn_id = 'myBtnReceive' + (i+1);
                        var received_id = 'myReceived' + (i+1);
                        var stat_id = 'order_stat' + (i+1);
                        switch(data[i].Status){
                            case "unreceived":
                                document.getElementById(btn_id).addEventListener("click", function(e){
                                    var target = e.target;
                                    var index = target.id.slice(-1);
<!--                                    window.alert(target.getAttribute('oid'));-->
                                    document.getElementById('myBtnReceive' + index).className += " myBtnReceiveHidden";
                                    document.getElementById('myReceived' + index).style.visibility = "visible";
                                    document.getElementById('order_stat' + index).className = "stat green";
                                    document.getElementById('order_stat' + index).innerHTML = "已收货";
                                });
                                break;
                            case "received":
                                document.getElementById(btn_id).className += " myBtnReceiveHidden";
                                document.getElementById(received_id).style.visibility = "visible";
                                document.getElementById(stat_id).className = "stat green";
                                document.getElementById(stat_id).innerHTML = "已收货";
                                break;
                            case "unsent":
                                document.getElementById(btn_id).className += " myBtnReceiveHidden";
                                document.getElementById(received_id).style.visibility = "visible";
                                document.getElementById(received_id).getElementsByTagName('b')[0].innerHTML = "未发货";
                                document.getElementById(stat_id).className = "stat red";
                                document.getElementById(stat_id).innerHTML = "未发货";
                                break;
                        }

<!--                        window.alert(data[i]);-->
<!--                        window.alert(data[i].picture);-->
                    }
                });
			});
        });
        function myBuy(){
            var elements =  document.getElementsByClassName("buy");
            for(var i = 0; i < elements.length; i++){
                elements[i].style.display = "block";
            }
            elements =  document.getElementsByClassName("sell");
            for(var i = 0; i < elements.length; i++){
                elements[i].style.display = "none";
            }
        }

        function mySell(){
            var elements =  document.getElementsByClassName("sell");
            for(var i = 0; i < elements.length; i++){
                elements[i].style.display = "block";
            }
            elements =  document.getElementsByClassName("buy");
            for(var i = 0; i < elements.length; i++){
                elements[i].style.display = "none";
            }
        }

        document.getElementById("myBtnBuy").addEventListener("click", myBuy);
        document.getElementById("myBtnSell").addEventListener("click", mySell);
    </script>
</body>

</html>