<!DOCTYPE>
<html>
<head>
  <title>个人页面</title>
  <title>主页</title>
  <!-- <link rel="stylesheet" href="./css/profile.css" /> -->
  <!-- <link media="all" href="./css/product_css.css" type="text/css" rel="stylesheet"> -->
  <link rel="stylesheet" href="./css/chat.min.css" />
  <link media="all" href="./css/profile.css" type="text/css" rel="stylesheet">
  <script src="./js/jquery-1.12.3.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
</head>
<body>
  <div class="topnav">
    <!-- <a href="/chat">聊天室</a> -->
    <a href="/chat">返回</a>
    <!-- <a href="#history">历史订单</a>
    <a href="/myProduct">我的商品</a>
    <a class="active" href="#profile">个人页面</a> -->
    <!-- <a href="/empChat/findAllUser">聊天记录</a> -->
  </div>
  <div id="product-container">
    <!-- <div style="text-align: center">
      <a href="/">
        <button type="button" class="niceButton2" >退出登录</button>
      </a>
    </div> -->
    <!-- <center>
     
      <input class="btn btn-primary button_submit" type="button" id="sub" name="Submit" value="提交">
      <a href="/chat">
          <button type="button" class="niceButton2">退出登录</button>
      </a>
    </center> -->
  </div>
  <script>
    var username;
    var uid;
    $(document).ready(function() {
      $.get("/currentuser", function(data1) {
        username = data1.username;
        uid = data1.uid;
        //window.alert(uid);
        //window.alert(data.length);
              // 加载当前用户的购买记录
        if (uid == undefined){
            window.alert("please login");
            window.location.href="/";
        }
        $.post("/profileInfo?currentuserid=" + uid, function(data) {
          //window.alert(data.length);
          //window.alert(data.uid)
          //window.alert(data.username)
          //window.alert(data.sex)
          //window.alert(user.phone)
                  for (var j = 0; j < 1; j++) {
                      var i = 0;
                      var order_id = 'products' + (i+1);
                      $("#product-container").append('<div class="from_input" id="' + order_id + '"> </div>');
                      var profile_content_container = '<div class="submit" >'

                      profile_content_container += '<span class="form_title">个人信息</span>';
                      // profile_content_container += '<div class="form_input">';
                      profile_content_container += '<div class="form_input"> <span>账户ID：</span> <div class="form_data"> <b>' + data.uid + '</b></div></div>';
                      profile_content_container += '<div class="form_input"> <span>用户名字：</span> <div class="form_data"> <b>' + data.username + '</b></div></div>';
                      profile_content_container += '<div class="form_input"> <span>性别：</span> <div class="form_data"> <b>' + data.sex + '</b></div></div>';
                      profile_content_container += '<div class="form_input"> <span>电话号码：</span> <div class="form_data"> <b>' + data.phone + '</b></div></div>';
                      profile_content_container += '<div class="form_input"> <span>创建时间：</span> <div class="form_data"> <b>' + data.creat_time + '</b></div></div>';
                      profile_content_container += '<div class="form_input"> <span>余额：</span> <div class="form_data"> <b>' + data.money + '</b></div></div>';
                      // profile_content_container += '</div>'

                      // profile_content_container += '<div class="form_data"><b>用户姓名: </b>' + data.username + '</div>';
                      // profile_content_container += '<div class="form_data"><b>性别: </b>' + data.sex + '</div>';
                      // profile_content_container += '<div class="form_data"><b>电话号码: </b>' + data.phone + '</div>';
                      // profile_content_container += '<div class="form_data"><b>创建时间: </b>' + data.create_time + '</div>';
                      // profile_content_container += '<div class="form_data"><b>余额: </b>' + data.money + '</div>';
                      profile_content_container += '<div id="sub" style="text-align: center"><a href="/"><button type="button" class="niceButton2" >退出登录</button></a></div>';
                      profile_content_container += '</div>';
                      $("#" + order_id).append(profile_content_container);

  //window.alert(data[i]);
<!--                        window.alert(data[i].picture);-->
                  }

              });
    });
      });
      $("#sub").click(function () {
            window.location.href="/";
    });

  </script>
  



</body>
</html>