<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.spring.mapper.LoginMapper">
	<!--从数据库中获取名字和密码给po.user文件-->
	<resultMap type="boot.spring.po.User" id="userMap">
		<id column="uid" property="uid"></id>
		<result column="username" property="username" />
		<result column="password" property="password" />
	</resultMap>
	<!--从数据库中获取名字给getpwdbyname-->
	<select id="getpwdbyname" parameterType="String"
		resultMap="userMap">
		select uid, username, password, sex, phone,is_admin, is_delete, create_time,money,address from user where username=#{username}
	</select>

	<!--注册-->
	<!--1.id必须和Mapper（UserDAO）接口方法名一致
        2.parameterType必须和接口方法参数一致
    -->
	<insert id="save" parameterType="boot.spring.po.User">
		insert into user values (#{uid}, #{username}, #{password}, #{sex}, #{phone}, #{is_admin}, #{is_delete}, #{create_time}, 1000, #{address})
	</insert>

	<select id="selectId" parameterType="String" resultType="String">
		select uid from `user` where username = #{username}
	</select>

	<!--管理员登录-->
	<select id="ManageLogin" resultType="boot.spring.po.User">
		select uid, username, password, sex, phone,is_admin, is_delete, create_time,money,address from user
		where username=#{username} and password=#{password}
	</select>

</mapper>