<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.spring.mapper.UserInfoMapper">
    <!--从数据库中获取名字和密码给po.UseInfo文件-->
    <resultMap type="boot.spring.po.UserInfo" id="userInfoMap">
        <id column="uid" property="uid"></id>
        <result column="username" property="username" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="create_time" property="create_time" />
        <result column="money" property="money" />


    </resultMap>
    <!--从数据库中获取名字-->
    <select id="getUserUid" parameterType="String"
            resultMap="userInfoMap">
        select user.uid, user.username, user.sex, user.phone, user.create_time, user.money
        from user
        where user.uid=#{userid}
    </select>


</mapper>